:root {
	--main-color: rgba(216, 238, 254, 1);
	--font-size-input: 18px;
	--font-family: Rubik;
	--font-style-normal: normal;
	--font-weight-bold: bold;
	--font-weight: 500;
}

html {
	width: 100%;
}

body {
	background: var(--main-color);
	margin: 0;
	font-family: var(--font-family);
	font-style: var(--font-style-normal);
	font-weight: var(--font-weight);
}

ul {
	width: 87%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	font-size: 1rem;
	padding: 0;
}

form {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

img {
	border-radius: 5px;
}

fieldset {
	border-radius: 10px;
	background-color: #fffffe;
	margin-bottom: 1rem;
}

input {
	height: 1.5rem;
	background-color: #e3f6f5;
}

header {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

header h1 {
	color: #272343;
	font-size: 4rem;
	padding-top: 63px;
	padding-bottom: 42px;
	margin: 0;
}

li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #fffffe;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	position: relative;
	border-radius: 5px;
	padding-left: 43px;
}
 button {
	cursor: pointer;
 }

.searchName {
	margin-bottom: 1rem;
	width: 242px;
	height: 48px;
}

.searchName,
.filterMonth {
	border-radius: 5px;
	background-color: white;
	margin: 0;
	border: none;
	outline: none;
	padding-left: 20px;
	color: rgba(95, 108, 123, 1);
	font-size: var(--font-size-input);
	line-height: 21px;
}
.filterMonth {
	padding: 0.5rem 0.5rem;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #faeee7;
	font-weight: 500;
  color: 	#5F6C7B;
	width: 282px;
	-webkit-appearance: none;
	background-image: url(./svg/select_month.svg);
	background-repeat: no-repeat;
	background-position-x: 239px;
	background-position-y: 23px;
}
::placeholder, select {
	color: #5f6c7b;
	font-weight: var(--font-weight);
}

.filterName {
	display: block;
	margin-bottom: 13px;
	color: rgba(9, 64, 103, 1);
	font-size: var(--font-size-input);
	line-height: 21px;
}
.wrapper-select {
	padding-top: 2rem;
}
.person-image {
	width: 92px;
	height: 94px;
}

.day {
	margin-left: auto;
	margin-right: auto;
	line-height: 28px;
	color: #5f6c7b;
}
.name {
	color: #272343;
}
.age {
	line-height: 28px;
	color: #5f6c7b;
}
.name,
.age {
	width: 80%;
	margin: 0;
	margin-right: auto;
}
.age b {
	color: #ef4565;
}

.edit {
	margin-right: 17px;
}
.age , .day {
	font-size: 20px;
}

.name {
	font-size: 0.75rem;
	color: #272343;
	font-size: 30px;
	line-height: 43px;
	color: #000000;
}

.person-image {
	margin-top: 23px;
	margin-bottom: 24px;
}
.popup {
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	justify-content: center;
	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
	overflow: auto;
}

.wrapper_div {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 2rem;
	
}
.wrapper_div label {
	padding-bottom: 8px;

}
.wrapper_div input {
	padding-left: 20px;
}


.wrapper_div_delete {
	margin-top: inherit;
	align-items: center;
	display: block;
}

#cancel-x , .cancel{
	position: absolute;
	border: none;
	top: 10px;
	right: -40px;
	background: none;
}
.want_to_delete {
	border: none;
}
.addChages-cancel-wrapper, .add-cancel-wrapper , .deleted_button  {
	margin-top: 30px;
}

.popup .want_to_delete {
	margin-left: auto;
	margin-right: auto;
}

.popup button[type="submit"],
.popup button[type="button"] {
	color: white;
	width: 158px;
	height: 50px;
	text-align: center;
	border: 0;
	border-radius: 5px;
	border: 2px solid transparent;
	text-decoration: none;
	font-size: 1.2rem;
	margin-bottom: 11px;
	bottom: 197px;
}

.edit-delete-day-wraper {
	margin-right: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.popup button[type="button"] {
	color: rgba(95, 108, 123, 1);
	border: 2px solid #5f6c7b;
}

.popup button[type="submit"] {
	background: rgba(239, 69, 101, 1);
	margin-right: 20px;
}


.popup input {
	max-width: 264px;
	width: 100%;
	height: 50px;
	background: rgba(216, 238, 254, 1);
	border-radius: 5px;
	font-size: 1rem;
	border: none;
	outline: none;
	margin-bottom: 20px;
}

.popup .edit_person-wrapper {
	display: flex;
	flex-direction: column;
	background: #fffffe;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 50px;
	border: none;
	border-radius: 5px;
	transition: all 0.2s;
	position: relative;
}

.popup .add-form {
	display: flex;
	flex-direction: column;
	background: #fffffe;
	padding-top: 2rem;
	border-radius: 5px;
	transition: all 0.2s;
}
.popup.open {
	--opacity: 1;
	pointer-events: all;
}

.popup .edit_person-wrapper,
.add-form,
.want_to_delete {
	margin: auto;
	height: fit-content;
	margin-top: 121px;
	padding-bottom: 50px;
	margin-bottom: 112px;
	position: relative;
}

button img {
	width: 30px;
}
button {
	border: none;
	background-color: white;
	outline: none;
}
.filters {
	width: 85%;
	max-width: 779px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: var(--font-size-input);
	line-height: 21px;
}
.addButton {
	background: #ef4565;
	width: 158px;
	height: 50px;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	margin-top: 2rem;
}

.edit,
.delete {
	border-radius: 10px;
	width: 30px;
}

.person-image {
	margin-left: 0.5rem;
}

@media (min-width: 400px) {
	header {
		width: 85%;
		max-width: 779px;
	}
	button img {
		width: 30px;
	}
	.name,
	.age {
		width: 100%;
	}
	.name {
		font-size: 36px;
	}
	.age , .day {
		font-size: 24px;
	}

	main {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	body {
		margin: 0;
	}
	.edit_person,
	.name_delete_person,
	.add_new_person {
		font-size: 48px;
		line-height: 57px;
		color: #094067;
		width: 400px;
		margin: 0;
		padding-top: 112px;
	}
	.name_delete_person,
	.add_new_person {
		width: auto;
	}
	.name_delete_person {
		padding-top: 0;
	}

	.add_new_person {
		padding-top: 70px;
	}

	#cancel-x , .cancel {
		top: 53.5px;
		right: 63.5px;
	}
	.popup .edit_person-wrapper,
	.add-form,
	.want_to_delete {
		width: 80%;
		max-width: 700px;
		padding: 0;
		padding-bottom: 189px;
	}

}

@media (min-width: 600px) {
	li {
		display: flex;
		width: 100%;
		flex-direction: row;
		place-items: center center;
		background-color: #fffffe;
		margin-bottom: 2rem;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-between;
		max-width: 779px;
		padding-left: 0;
	}

	.person-image {
		margin-left: 43px;
	}

	.aboutyear {
		padding-left: 39px;
	}

	.edit_person-wrapper h3 {
		font-size: 48px;
	}
	.edit-delete-day-wraper {
		align-items: flex-end;
	}
	
	.popup .edit_person-wrapper,
	.add-form,
	.want_to_delete {
		width: 100%;
		max-width: 1079px;
		padding: 0;
		padding-bottom: 189px;
	}
	.wrapper_div_delete {
		margin-top: inherit;
		align-items: center;
		display: flex;
	}
	.wrapper_div {
		padding: 0;
		padding-right: 82px;
	}
}


@media (min-width: 864px) {
	form {
		display: flex;
	}
	.aboutyear {
		padding-left: 0px;
	}
}
@media (min-width: 930px) {
	.aboutyear {
		width: 426px;
		padding-left: unset;
	}
}
@media (min-width: 1200px) {
	header {
		width: 58%;
	}
}
